# -*- mode: conf-unix; -*-
# Copyright (C) 2014-2017 Max Bozzi

* text=auto

*.c    text
*.cc   text
*.conf text
*.cpp  text
*.cpp  text
*.cxx  text
*.cxx  text
*.d    text
*.hex  text
*.html text
*.ihex text
*.ipp  text
*.ixx  text
*.ll   text
*.log  text
*.py   text
*.s    text
*.sh   text
*.tpp  text
*.txx  text
*.yy   text
*.zcat text

*.bmp     binary
*.collada binary
*.dae     binary
*.dat     binary
*.elf     binary
*.exe     binary
*.jpeg    binary
*.jpg     binary
*.pch     binary
*.png     binary
*.psd     binary
*.vec     binary
*.bin     binary
